table.supplementary-material {
    font-size: 1.3rem;

    th {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        font-weight: 300;
        width: 60%;
    }
}

.title{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    color: #575757;
}